/* CSS Vars */
:root {
    --primary-color: #ff7332;
    --secondary-color: #d95e27;
    --accent-color: #27d927;
    --background-color: #ffffff;
    --background-accent-color: #e6e6e6;
    --dark-background-color: #1a1a1a;
    --dark-background-accent-color: #272727;
    --text-color: #000000;
    --link-color: #ff8c42;
    --link-hover-color: #ff8c42;
    --dark-text-color: #ffffff;
    --submenu-background-color: #dbdbdb;
    --submenu-hover-color: #777777;
    --dark-submenu-background-color: #393939;
    --dark-submenu-hover-color: #777777;
    --button-background-color: #5c5c5c;
    --button-default-color: #ffffff;
    --button-hover-color: #670000;
}