@import url("00-vars.css");

/* General Box-Styles */
.article-container,
.home-container {
    display: flex;
    justify-content: center;
    padding: 3rem 0;
    background-color: var(--background-accent-color);
    min-height: 100vh;
    z-index: 1;
}

.dark-mode .article-container,
.dark-mode .home-container {
    background-color: var(--dark-background-color);
}

.article-box,
.home-box {
    width: 90%;
    max-width: 800px;
    background: var(--background-accent-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 2rem;
    border: 1px solid var(--background-accent-color);
}

.dark-mode .article-box,
.dark-mode .home-box {
    background: var(--background-color);
    color: var(--dark-text-color);
    border-color: var(--background-accent-color);
}

/* Article-Styles */
.article-title,
.post-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
}

.dark-mode .article-title,
.dark-mode .post-title {
    color: var(--primary-color);
}

.post-title:hover {
    text-decoration: underline;
}

.article-date,
.post-date {
    text-align: center;
    color: var(--text-color);
    font-size: 0.875rem;
}

.dark-mode .article-date,
.dark-mode .post-date {
    color: var(--dark-text-color);
}

.article-content,
.post-summary {
    color: var(--text-color);
    line-height: 1.6;
}

.dark-mode .article-content,
.dark-mode .post-summary {
    color: var(--dark-text-color);
}

/* Home-Styles */
.home-headline {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: var(--primary-color);
    margin-bottom: 2rem;
}

.dark-mode .home-headline {
    color: var(--primary-color);
}

.content-box {
    padding: 1.5rem;
    border-radius: 8px;
    background: var(--background-color);
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dark-mode .content-box {
    background: var(--dark-background-color);
    color: var(--dark-text-color);
}

/*Layouts */
.grid-layout {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    gap: 1rem;
}

.grid-layout> :nth-last-child(1):nth-child(odd) {
    grid-column: span 2;
}

.list-layout {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Responsive Changes */


@media (max-width: 640px) {
    .grid-layout {
        grid-template-columns: 1fr;
    }

    .grid-layout> :nth-last-child(1):nth-child(odd) {
        grid-column: span 1;
    }
}