@import url("00-vars.css");

/* Navigation */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: var(--background-accent-color);
}

.dark-mode .nav-container {
    background: var(--dark-background-accent-color);
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-logo img {
    max-height: 60px;
    height: auto;
}

.nav-controls {
    display: flex;
    align-items: center;
}

/* Main Menu */
.nav-menu {
    display: flex;
    gap: 20px;
}

.nav-menu a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 600;
    font-size: 16px;
    position: relative;
    transition: color 0.3s ease;
}

/* Animated Lines below Main Menu points */
.nav-menu a::after {
    content: "";
    display: block;
    height: 3px;
    width: 0;
    background: var(--primary-color);
    transition: width 0.3s ease-in-out;
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
}

.nav-menu a:hover {
    color: var(--link-hover-color);
}

.nav-menu a:hover::after {
    width: 100%;
}

/* Burger Menu */
.burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-left: 20px;
}

.burger-menu div {
    width: 25px;
    height: 3px;
    background: var(--text-color);
    margin: 5px;
}

.burger-menu:hover div {
    background: var(--link-hover-color);
}

.dark-mode .burger-menu div {
    background: var(--dark-text-color);
}

.dark-mode .burger-menu:hover div {
    background: var(--link-hover-color);
}

/* Burger Menu Transparency animation */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    transition: opacity 0.3s;
    z-index: 1000;
}

.nav-menu-container {
    position: fixed;
    top: 0;
    right: -100%;
    width: 250px;
    height: 100%;
    background: var(--background-accent-color);
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    display: flex;
    flex-direction: column;
    transition: right 0.3s ease-in-out;
    z-index: 1001;
    overflow-y: auto;
    /* Scroll if size is too large */
    max-height: 100vh;
    /* max height must be 100% */
}

.dark-mode .nav-menu-container {
    background: var(--dark-background-accent-color);
}

.nav-menu-container::-webkit-scrollbar {
    width: 6px;
}

.nav-menu-container::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}

.nav-menu-container.active {
    right: 0;
}

.nav-menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

/* Submenu */
.nav-item {
    position: relative;
}

.has-submenu a {
    cursor: pointer;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--submenu-background-color);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    min-width: 150px;
}

.submenu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    background: var(--submenu-background-color);
    color: var(--primary-color);
}

.submenu a:hover {
    background: var(--submenu-hover-color);
}

.dark-mode .submenu {
    background: var(--dark-submenu-background-color);
    color: var(--dark-text-color);
}

.dark-mode .submenu a:hover {
    background: var(--dark-submenu-hover-color);
}

/* Submenu in Burger Menu */
.burger-submenu-item {
    padding: 8px 15px;
    margin-left: 15px;
    font-size: 16px;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
    transition: transform 0.2s ease-in-out;
}

.burger-nav-item {
    padding: 10px 15px;
    font-size: 18px;
    color: var(--primary-color);
    font-weight: bold;
    text-decoration: none;
    display: block;
    position: relative;
    transition: transform 0.2s ease-in-out, color 0.3s ease;
}

.burger-nav-item:hover {
    transform: translateX(5px);
    color: var(--link-hover-color);
}

/* Hover-Animation at Submenu points */
.burger-submenu-item:hover {
    transform: translateX(5px);
    color: var(--link-hover-color);
}

/* Submenu points with line below */
.burger-submenu-item::before {
    content: "";
    width: 4px;
    height: 16px;
    background-color: var(--primary-color);
    display: inline-block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

/* Dark Mode Changes */
.dark-mode .nav-menu a {
    background-color: var(--dark-submenu-background-color);
    color: var(--primary-color);
}

.dark-mode .nav-menu a:hover {
    color: var(--link-hover-color);
}

.dark-mode .burger-submenu-item {
    color: var(--primary-color);
}

.dark-mode .burger-submenu-item::before {
    background-color: var(--primary-color);
}

.dark-mode .burger-submenu-item:hover {
    color: var(--link-hover-color);
}

/* ===================================
   Link in Burger Menu Color Management
==================================== */

.nav-menu-container a,
.burger-nav-item {
    color: var(--primary-color);
}

.nav-menu-container a:hover,
.burger-nav-item:hover {
    color: var(--link-hover-color);
}

@media (max-width: 768px) {
    .burger-menu {
        display: flex;
    }

    .nav-menu {
        display: none;
    }
}