/* Article Container */
.article-container {
    display: flex;
    justify-content: center;
    padding: 3rem 0;
    background-color: var(--background-color);
    min-height: 100vh;
    z-index: 1;
}

.dark-mode .article-container {
    background-color: var(--dark-background-color);
}

/* Article Box */
.article-box {
    width: 90%;
    max-width: 800px;
    background: var(--background-accent-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 2rem;
    border: 1px solid var(--background-accent-color);
}

.dark-mode .article-box {
    background: var(--dark-background-accent-color);
    color: var(--dark-text-color);
    border-color: var(--dark-background-accent-color);
}