<div class="overlay" onclick="toggleMenu()"></div>

<div class="nav-container">
    <div class="nav-left">
        <a href="{{ site.BaseURL }}" class="nav-logo">
            {{ if site.Params.LogoPicture }}
            <img src="{{ site.Params.LogoPicture }}" alt="Logo" style="max-height: 50px;">
            {{ else if site.Params.LogoText }}
            <span class="logo-text">{{ site.Params.LogoText }}</span>
            {{ else }}
            <span class="logo-text">Undefined</span>
            {{ end }}
        </a> <button id="darkModeToggle" aria-label="Dark-Mode" aria-pressed="false">🌙</button>
    </div>
    <nav>
        <div class="nav-menu">
            {{ range site.Params.MainMenu.items }}
            <div class="nav-item {{ if .submenu }} has-submenu{{ end }}">
                <a href="{{ if not .submenu }}{{ .url }}{{ else }}#{{ end }}" tabindex="0">{{ .name }} {{ if .submenu
                    }}▼{{ end }}</a>
                {{ if .submenu }}
                <div class="submenu">
                    {{ range .submenu }}
                    <a href="{{ .url }}" tabindex="0">{{ .name }}</a>
                    {{ end }}
                </div>
                {{ end }}
            </div>
            {{ end }}
        </div>
    </nav>
    <div class="burger-menu" role="button" tabindex="0" aria-label="open Menu" aria-controls="nav-menu"
        aria-expanded="false" onclick="toggleMenu()">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
</div>
<nav aria-label="Navigation Burger Menu">
    <div class="nav-menu-container" aria-hidden="true">
        <div class="nav-menu-header">
            <a href="{{ site.BaseURL }}" class="nav-logo" tabindex="-1">
                {{ if site.Params.LogoPicture }}
                <img src="{{ site.Params.LogoPicture }}" alt="Logo" style="max-height: 50px;">
                {{ else }}
                <span class="logo-text">{{ site.Params.LogoText }}</span>
                {{ end }}
            </a>
            <div class="burger-menu" aria-label="Close Burger Menu" onclick="toggleMenu()">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        {{ range site.Params.MainMenu.items }}
        <div class="burger-nav-item">
            <a href="{{ .url }}" tabindex="-1">{{ .name }}</a>
            {{ if .submenu }}
            {{ range .submenu }}
            <div class="burger-submenu-item">
                <a href="{{ .url }}" tabindex="-1">{{ .name }}</a>
            </div>
            {{ end }}
            {{ end }}
        </div>
        {{ end }}
    </div>
</nav>
<!-- Scroll-to-top Button = accessibility + screenreader functionality depends on browser. Multiple browser tested. Firefox for accessibility recommended (best test result) -->
<button id="scrollTopBtn" onclick="scrollToTop()" aria-label="Scroll to Top" tabindex="0">
    ▲
</button>
<div id="ariaLive" aria-live="polite" style="position:absolute; left:-9999px;"></div>