name: Demo Page

on:
  workflow_dispatch:
  push:
    branches: [ "master" ]

permissions:
  contents: write
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    container:
      image: ubuntu:latest

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          apt-get update
          apt-get install -y curl tar

      - name: Install latest Hugo
        run: |
          HUGO_VERSION=$(curl -s https://api.github.com/repos/gohugoio/hugo/releases/latest \
            | grep '"tag_name":' | cut -d '"' -f4 | sed 's/^v//')
          echo "IDENTIFIED HUGO VERSION $HUGO_VERSION"
          HUGO_URL="https://github.com/gohugoio/hugo/releases/download/v${HUGO_VERSION}/hugo_extended_${HUGO_VERSION}_Linux-64bit.tar.gz"
          curl -L -o hugo.tar.gz "$HUGO_URL"
          tar -xzf hugo.tar.gz hugo
          chmod +x hugo
          mv hugo /usr/local/bin/hugo
          hugo version

      - name: Check Hugo version against theme.toml
        run: |
          REQUIRED_VERSION=$(grep '^min_version' theme.toml | cut -d '"' -f2)
          INSTALLED_VERSION=$(hugo version | awk '{print $5}' | sed 's/v//')
          echo "Theme requires Hugo >= $REQUIRED_VERSION"
          echo "Installed Hugo version: $INSTALLED_VERSION"
          dpkg --compare-versions "$INSTALLED_VERSION" "ge" "$REQUIRED_VERSION" || echo "::warning file=theme.toml::Installed Hugo ($INSTALLED_VERSION) is older than theme.min_version ($REQUIRED_VERSION)"

      - name: Build example site
        run: |
          cd exampleSite
          hugo --minify

      - name: Setup Pages
        uses: actions/configure-pages@v4

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: exampleSite/public

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
