name: Demo Page

on:
  workflow_dispatch:
  push:
    branches: [ "main", "cicd-integration" ]

permissions:
  contents: write
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  deploy:
    runs-on: ubuntu-latest
    needs: [check]

    steps:
      - uses: actions/checkout@v4

      - name: Install Hugo
        run: |
          sudo apt-get update
          sudo apt-get install -y hugo

      - name: Build example site
        run: |
          cd exampleSite
          hugo --minify

      - name: Setup Pages
        uses: actions/configure-pages@v4

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: exampleSite/public

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
